header.Header
  .container
    a.Header-logo(href='')
      img(src='img/site-logo.png', alt='')

    button.Header-switch.button.button-icon(type='button')
      svg.icon.icon-menu
        use(xlink:href='#icon-menu')

    .Header-menu
      .Header-menu-user
        a(href='') Kayıt Ol
        a(href='') Giriş Yap

      a.Header-menu-property.button.button-blue(href='') İlana Koyun

      .Header-menu-helper
        select
          option(value='en') TR
        select
          option(value='UAH') UAH
